<div class="container">
  <% array = [] %>
  <% @events.each do |event| %>
    <% array.include?(event.category) ? array.push(nil) : array.push(event.category)%>
  <% end %>

  <% @events.each_with_index do |event, index| %>
    <h1><%= link_to array[index] ? array[index] : "" , events_path(category: event.category) %> </h1>
  <% end %>
</div>
