<div class="container">
  <% array = [] %>
  <% array_compte = [] %>
  <% @events.each do |event| %>
    <% array.include?(event.category) ? array.push(nil) : array.push(event.category)%>
    <% array_compte.push(event.category) %>
    <% end %>

      <div class="title">
         CATEGORIES
      </div>
        <div class="card-container">
          <% @events.each_with_index do |event, index| %>
            <% if array[index] %>
              <div class="category" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%=@img_url[event.category]%>)">
                <h2><%= link_to array[index] ? "#{array[index]} " : "" , events_path(category: event.category) %></h2>
                <h3><%= array_compte.count(event.category) %></h3>
              </div>
              <% else  %>
              <% end  %>
            <% end %>
        </div>

</div>



