<h1>SEARCH AN EVENT</h1>

<%= form_with(url: categories_events_path, local: true, method: :get) do |f| %>
  <%= f.text_field :location, place_holder: 'Insert your location here' %>
  <%= f.date_field :date_start, place_holder: 'Your date please' %>
  <%= f.submit 'Search' %>
<% end %>
