.bg_search {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
  width:600px;
}

.search {
  align-items: center;
  display: flex;
}

.search #location  {
  border-radius: 5px;
  border: none;
  padding: 11px 0px;
}


.search #date_start {
  border-radius: 5px;
  border: none;
  padding: 10px 0px;
}

.search_btn{
    border: none;
    border-radius: 5px;
    background-color: green;
    text-decoration: none;
    padding: 11px 20px;
    color: white;
}
