.navbar-lewagon {
 justify-content: space-between;
 background-color: rgba(148, 144, 149, 0);
 transition: 0.5s background-color ease;
 position: sticky;
 top: 0px;
}
.navbar-lewagon .navbar-collapse {
 flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
 width: 70px;
}
.navbar-lewagon-white {
 background-color: white;
}
